.content-subcontainer {
  background: #fff;
  box-shadow: 0px 3px 5px 5px #ccc;
  border-radius: 20px;
  padding: 0.5vh;
  padding: 20px;
}

.header-container {
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-container {
  text-align: center;
  padding: 10vh !important;
}

.login-form-forgot {
  float: right
}

.statistic-card {
  box-shadow: 2px 3px 5px 2px #ccc;
  border-radius: 20px
}

.statistic-card:hover {
  background: rgba(255, 255, 255, 0.945);
  transition: 0.1s;
  margin-top: -10px;
}

.layout-body {
  margin-left: 29vh
}

@media only screen and (max-width: 1400px) {
  .layout-body {
    margin-left: 30vh
  }
}

@media only screen and (max-width: 900px) {
  .layout-body {
    margin-left: 0
  }
}