.content-subcontainer {
  padding: 5vh;
  min-height: 360px;
}

.header-container {
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-container {
  text-align: center;
  padding: 10vh !important;
}

.layout-body {
  margin-left: 26vh
}

.mobile-sider {
  display: none
}

.login-form-forgot {
  float: right
}

@media only screen and (max-width: 900px) {
  .layout-body {
    margin-left: 0
  }
}
